.nav_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, rgb(83, 231, 83), rgb(1, 102, 35));
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.nav_bar ul li {
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
    padding: 6px 20px;
    border-radius: 5px;
    color: aliceblue;
}

.nav_bar ul a {
    margin-right: 10px;
    text-decoration: none;
}

.logo a {
    font-weight: bolder;
    font-size: xx-large;
    text-decoration: none;
}

/* NAV BAR DESIGN ENDS HERE */